<h1>新規炙り</h1>
<div class="toolbar"><%= link_to "炙り履歴一覧に戻る", talking_squids_path %></div>


<%= form_for @surume do |form| %>
  <%= render "form", form: form %>
  <div class="button"><%= form.submit %></div>
<% end %>